<p>Bonjour {{name}},</p>
<p>Vos documents on étés vérifié, votre profil est désormais publique et peut être vue de tous</p>
<p>
  <a href="{{url}}">Me connecter</a>
</p>

<p>Merci de votre confiance</p>
